{% extends '::admin_base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
<div class="container">
<form action="{{ path('_admin_store_edit', {'store_id': store.id}) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" />
    {% if store.latitude != '' and store.longitud != '' %} 
   <a target="_blank" href="http://maps.google.com/maps?q={{store.latitude}},{{store.longitud}}">Google Maps Test</a>
   {% endif %}
</form>
</div>
{% endblock %}
